/*Designed and Developed by Utkarsh Dhawan for Sugar Labs*/

body{
	margin:0;
	padding:0;
	background: #ccc;
	overflow: hidden;
}
.wrapper{
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: url('../resources/bg.png');
}

/*Side bar*/

.side{
	position: relative;
	width: 10%;
	height: 100%;
	background: url('../resources/main_bg.png');
	float: right;
	color: #fff;
	font-size: 20px;
}
.side img{
	position: relative;
	top: 40%;
	margin-left: 5px;
	-webkit-transition:all 0.7s;
	-o-transition:all 0.7s;
	-moz-transition:all 0.7s;	
	-ms-transition:all 0.7s;
	transition:all 0.7s;
}
.side img:hover{
	margin-left: 10px;
}

/*End of Side Bar*/

/*Main Area*/

.main{
	position: relative;
	float: left;
	top: 10px;
	width: 89%;
	height: 97%;
	background-repeat: repeat-y;
}

blockquote h1{
	position: relative;
	font-family: 'Open Sans Condensed';
	text-align: center;
}
blockquote h3{
	position: relative;
	font-family: 'Open Sans Condensed';
	font-size: 20px;
}

.main p{
	position: relative;
	left: 3%;
}

blockquote {
position: relative;
margin: 29px 0;
padding: 29px 29px 29px 58px;
line-height: 29px;
color: #5a4f43;
text-shadow: 0 1px 1px #fff;
background-color: #f2f6c1;
border: 1px solid #c3baaa;
border-color: rgba(195,186,170,0.9);
-webkit-box-shadow: inset 0 1px rgba(255,255,255,0.5),inset 0 0 5px #d8e071,0 0 1px rgba(0,0,0,0.1),0 2px rgba(0,0,0,0.02);
box-shadow: inset 0 1px rgba(255,255,255,0.5),inset 0 0 5px #d8e071,0 0 1px rgba(0,0,0,0.1),0 2px rgba(0,0,0,0.02);
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
background-image: -webkit-radial-gradient(center, cover, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.1) 90%),-webkit-repeating-linear-gradient(top, transparent 0, transparent 29px, rgba(239,207,173,0.7) 29px, rgba(239,207,173,0.7) 30px);
background-image: -moz-radial-gradient(center, cover, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.1) 90%),-moz-repeating-linear-gradient(top, transparent 0, transparent 29px, rgba(239,207,173,0.7) 29px, rgba(239,207,173,0.7) 30px);
background-image: -o-radial-gradient(center, cover, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.1) 90%),-o-repeating-linear-gradient(top, transparent 0, transparent 29px, rgba(239,207,173,0.7) 29px, rgba(239,207,173,0.7) 30px);
font-family: Georgia,serif;
font-size: 16px;
margin-bottom: 29px;
line-height: 30px;
}

blockquote:before {
content: '';
position: absolute;
top: 0;
bottom: 0;
}

blockquote:before {
left: 28px;
width: 2px;
border: solid #efcfad;
border-color: rgba(239,207,173,0.9);
border-width: 0 1px;
}

blockquote {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 40px;
-webkit-margin-end: 40px;
}
.main a.next{
	position: relative;
	left: 83%;
}
.main a{
	background: #ccc;
	text-decoration: none;
	color: #1c6a97;
}
.main a:hover{
	color: #072651;
}
li.success{
	color: green;
	list-style-type: none;
	font-size: 19px;
}
.code{
	
}
/*End of Main Area*/
