/*Designed and Developed by Utkarsh Dhawan for Sugar Labs*/

body{
	margin:0;
	padding:0;
	background: url('../resources/bg.png');
}
.wrapper{
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: url('../resources/bg.png');
}
/*Home Button*/
.home{
	text-decoration: none;
	background: #fff;
	width: 8%;
	height: 40px;
	z-index: 1004;
	top: -10px;
	left: 3%;
	text-align: center;
	line-height: 50px;
	box-shadow: 1px 1px 1px #000;
	position: absolute;
	-webkit-transition:all 0.7s;
	-o-transition:all 0.7s;
	-moz-transition:all 0.7s;	
	-ms-transition:all 0.7s;
	transition:all 0.7s;
	float: left;

}
.home:hover{
	top: 0px;
	background: #339966;
	color: #fff;
}
/*End Home Button*/

/*Side bar*/

.side{
	position: relative;
	width: 10%;
	height: 100%;
	float: right;
	color: #fff;
	font-size: 20px;
}
.side img{
	position: relative;
	top: 40%;
	margin-left: 5px;
	-webkit-transition:all 0.7s;
	-o-transition:all 0.7s;
	-moz-transition:all 0.7s;	
	-ms-transition:all 0.7s;
	transition:all 0.7s;
}
.side img:hover{
	margin-left: 10px;
}

/*End of Side Bar*/

/*Main Area*/

.main{
	position: relative;
	float: left;
	top: 10px;
	width: 89%;
	height: 97%;
	background-repeat: repeat-y;
}

blockquote h1{
	position: relative;
	font-family: 'Open Sans Condensed';
	text-align: center;
}
blockquote h3{
	position: relative;
	font-family: 'Open Sans Condensed';
	font-size: 20px;
}

.main p{
	position: relative;
	left: 3%;
}

blockquote {
	position: relative;
	margin: 29px 0;
	padding: 29px 29px 29px 58px;
	line-height: 29px;
	color: #5a4f43;
	text-shadow: 0 1px 1px #fff;
	background-color: #f2f6c1;
	border: 1px solid #c3baaa;
	border-color: rgba(195,186,170,0.9);
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,0.5),inset 0 0 5px #d8e071,0 0 1px rgba(0,0,0,0.1),0 2px rgba(0,0,0,0.02);
	box-shadow: inset 0 1px rgba(255,255,255,0.5),inset 0 0 5px #d8e071,0 0 1px rgba(0,0,0,0.1),0 2px rgba(0,0,0,0.02);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-image: -webkit-radial-gradient(center, cover, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.1) 90%),-webkit-repeating-linear-gradient(top, transparent 0, transparent 29px, rgba(239,207,173,0.7) 29px, rgba(239,207,173,0.7) 30px);
	background-image: -moz-radial-gradient(center, cover, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.1) 90%),-moz-repeating-linear-gradient(top, transparent 0, transparent 29px, rgba(239,207,173,0.7) 29px, rgba(239,207,173,0.7) 30px);
	background-image: -o-radial-gradient(center, cover, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.1) 90%),-o-repeating-linear-gradient(top, transparent 0, transparent 29px, rgba(239,207,173,0.7) 29px, rgba(239,207,173,0.7) 30px);
	font-family: Georgia,serif;
	font-size: 16px;
	margin-bottom: 29px;
	line-height: 30px;
}

blockquote:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
}

blockquote:before {
	left: 28px;
	width: 2px;
	border: solid #efcfad;
	border-color: rgba(239,207,173,0.9);
	border-width: 0 1px;
}

blockquote {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 40px;
	-webkit-margin-end: 40px;
}
.main a.next{
	position: relative;
	left: 83%;
}
.main a{
	background: #ccc;
	text-decoration: none;
	color: #1c6a97;
}
.main a:hover{
	color: #072651;
}
ul.content{
	list-style-type: none;
}
li.success{
	color: green;
	list-style-type: none;
	font-size: 19px;
}
.code{
	position: relative;
	left: 15%;
	box-shadow: 1px 1px 1px #000;
	background: #ddd;
	padding: 10px;
	min-width: 50%;
	max-width: 50%;	
	max-height: 180px;
	min-height: 180px;
	overflow: scroll;
}
.output{
	position: relative;
	left: 17%;
	box-shadow: 1px 1px 1px #000;
	background: #ddd;
	padding: 10px;
	min-width: 50%;
	max-width: 50%;
}
table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

table tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

button{
	border:2px groove #7c93ba;
	cursor: pointer;
	width: 130px;
	margin-left: 20px;
	padding: 5px 25px;
	background-color:#6b6dbb;
	background: -webkit-gradient(linear, left top, left bottom, from(#88add7), to(#6b6dbb));
	background: -webkit-linear-gradient(top, #88add7, #6b6dbb);
	background: -moz-linear-gradient(top, #88add7, #6b6dbb);
	background: -o-linear-gradient(top, #88add7, #6b6dbb);
	background: linear-gradient(top, #88add7, #6b6dbb);
	color:#fff;
	font-size:1.1em;
	letter-spacing:.1em;
	font-variant:small-caps;
	/*add a drop shadow to the button*/
	-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}
button:hover{
	color:#edebda;
	-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}
.previousbutton{
	margin-right: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	-webkit-transition:all 0.7s;
	-o-transition:all 0.7s;
	-moz-transition:all 0.7s;	
	-ms-transition:all 0.7s;
	transition:all 0.7s;
}
.previousbutton:hover{
	margin-left: 10px;
}
.nextbutton{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	-webkit-transition:all 0.7s;
	-o-transition:all 0.7s;
	-moz-transition:all 0.7s;	
	-ms-transition:all 0.7s;
	transition:all 0.7s;
}
.nextbutton:hover{
	margin-left: 30px;
}
.inline_img{
	width: 400px;
}
.content_img{
	width: 400px;
	text-align: center;
	height: auto;
	background: #ccc;
}
/*End of Main Area*/
/*Page Count*/
.pagecount{
	text-decoration: none;
	position: absolute;
	background: #fff;
	width: 8%;
	height: 40px;
	z-index: 1007;
	top: 0%;
	left: 40%;
	text-align: center;
	line-height: 40px;
	box-shadow: 1px 1px 1px #000;	
	-webkit-transition:all 0.7s;
	-o-transition:all 0.7s;
	-moz-transition:all 0.7s;	
	-ms-transition:all 0.7s;
	transition:all 0.7s;

}
/*End Page Count*/